.header:hover .anchor {
  visibility: visible;
}

.anchor {
  float: left;
  margin-left: -30px;
  padding-right: 8px;
}

.anchor:before {
  visibility: hidden;
  color: gray;
  content: '#'
}

.header:hover .anchor:before {
  visibility: visible;
}